@import url('https://fonts.googleapis.com/css?family=Neucha&family=Kaushan+Script');

* {
  background-color: #f4f1f5;
}
body {
  margin: 0;
  font-family: 'Neucha', cursive !important;
  color: #273057;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
