 .custom-container {
  display: flex;
  line-height: 45px;
}


.edit-profile-container {
  width: 100%;
  justify-content: center;
}

.img-thumbnail {
  height: 200px;
  width: 200px;
}

.custom-text-align {
  text-align: left;
}

.btn-info {
  color: var(--white) !important;
  background-color: var(--green) !important;
  border-color: var(--green) !important;
}

.btn-info:hover {
  color: var(--white) !important;
  background-color: #016161 !important;
  border-color: #016161 !important;
}

.btn-outline-info {
  color: var(--green) !important;
  background-color: transparent;
  background-image: none;
  border-color: var(--green) !important;
}

.btn-outline-info:hover {
  color: var(--white) !important;
  background-color: var(--green) !important;
  border-color: var(--green) !important;
}

.btn-margin {
  margin: 10px;
}

#username {
  color: var(--blue);
}

#user-id {
  color: var(--green);
  font-weight: bolder;
}

#connection-name {
  background: transparent;
  font-weight: bold;
} 
