@import url('https://fonts.googleapis.com/css?family=Neucha&family=Kaushan+Script');

.title {
    font-family: 'Kaushan Script', cursive;
    font-size: 200px;
    color: #e051ab
}

.subtitle {
    font-family: 'Neucha', cursive;
    color: #273057
}

.btn-info {
    background-color: #008080 !important;
    border: solid 3px #273057 !important
}

.btn-link {
    background-color: #008080 !important;
    color: #f4f1f5;
    font-family: 'Neucha', cursive;
    text-decoration: none !important;
    font-size: 40px;
}

.section-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 75px;
    color: #e051ab

}

.card {
    border: none !important;
    padding: 0px !important;
}

.logo {
    border-radius: 20%;
}