button {
  background: var(--green);
  color: var(--white);
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;

}

.signup-container {
  width: 100%;
  margin-left: 30%;
}

.submit-signup-button {
  border: none;
  border-radius: 10px;
  font-size: 1.15rem;
  margin: 5px;
}

.submit-signup-button:hover {
  color: var(--white);
  background-color: #016161;
  border-color: #016161;
}
