.cs-card-title {
    font-size: 110px;
    color: #273057
}

.cs-button {
    background-color: #f4f1f5;
    border: 3px solid #273057;
}

.cs-hover :hover {
    background-color: #EBA28C;
    color: #008080;
}

.cs-link {
    font-size: 50px;
    background-color: transparent;
}